*{
    margin:0;
    padding=0;

}
body{
    background-color:#eee;
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width:1000px;;
    background-color:#e4f9f5;
    margin:0 auto ;
}
.profile-image{
    weight:100px;
    height:120px;
    border:3px solid white;
    border-radius:50%;
    float:left;
}
.header-bio{

    float:left;
    padding:30px;
}
h1,h2,h3,h4{
    color:#11999e

}
.header-contrect{

    float:right;
    padding:30px;
}
.header-contrect a{
    text-decoration: none;
    color:teal;
    font-weight: bold;
}

.header-contrect a:hover{
    text-decoration: underline;
    color:tomato;
}
.div-clear{
    clear:both;
}
hr{
    border:solid black 3px;
    width:100%;

}
#personal-section{

}
.content{
    margin-bottom:30px;

}
.left-div{
    width:30%;
    float:left;
}
.right-div{

    width:70%;
    float:left;
}
.common-hr{
    border:solid black 1px;
    border-bottom:none;
    width:100%;
    margin-top:20px;

}
#work-section{

}
.edu-left{
    float:left;
    width: 45%;

}

.edu-right{
    float:left;
    width: 45%;
}



.bottom-container{
background-color: black;
text-align:center;
padding:10px;
}
.bottom-container a{
    color: white;
    text-decoration: none;
    margin: 20px;
}
.bottom-container a:hover{
    color:red;
    text-decoration:underline;
}

.bottom-container p{
    color: white;
    margin-top:20px;
}